<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/fav/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/assets/fav/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/assets/fav/safari-pinned-tab.svg" color="#66c2c7">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/fav/favicon.ico">
  <meta name="msapplication-config" content="{{ site.baseurl }}/assets/fav/browserconfig.xml">
  <meta name="theme-color" content="#cff7f9">
 
  <title>{{ site.title }} • {{ site.name }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.name }}">
  <meta name="keywords" content="traveling, travel, map">

  <!-- Style -->
  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
