<script src="{{ site.baseurl }}/assets/plugins/travels/data.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/travels/styles/{{ site.style | default: 'shades-of-grey' }}.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/travels/app.js"></script>
