html
  overflow-y: hidden
  height: 100%
  margin: 0
  padding: 0

body
  height: 100%
  margin: 0
  padding: 0

#map
  height: 100%

#markers canvas
  animation: pulsate 3000ms ease-out infinite
  border-radius: 20px
  border: 1px solid #2b2b2b

#legend
  color: white
  background: #CC0052
  font-size: 14px
  padding: 5px
  border-radius: 2px
  opacity: .9
  margin: 5px 10px 15px 5px

@keyframes pulsate
  0%
    box-shadow: none

  50%
    box-shadow: inset 0 0 3px #CC0052, inset 0 0 3px #CC0052, 0 0 3px #CC0052, 0 0 3px #CC0052, 0 0 3px #CC0052

  100%
    box-shadow: none